# Core
django==4.2.9
python-dotenv==1.0.1
str2bool==1.1

# Utils
django-debug-toolbar==4.2.0
Pillow==11.1.0

# Services
redis==5.0.1
hiredis==3.1.0

# Deployment
whitenoise==6.5.0
gunicorn==21.2.0

# DB Layer
psycopg2

# S3 Database
django-storages 
boto3


