{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Medical Data Upload</title>{% endblock %}
    {% tailwind_css %}
</head>
<body class="bg-gray-100">
  <nav class="bg-white shadow-md p-4 mb-6">
    <div class="container mx-auto">
       <a href="/" class="text-xl font-semibold text-gray-800">Medical Data App</a>
    </div>
  </nav>
  <div class="container mx-auto px-4">
    {% block content %}{% endblock %}
  </div>
  {% if debug %}
    <script src="{% url 'django_browser_reload' %}"></script>
  {% endif %}
</body>
</html>